@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
  background-color: #FFCE61;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  cursor: none;
}

.App {
  display: flex;
  flex-direction: column;
}

#inverted-cursor {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #F1ECE0;
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  transform: translate(-50%, -50%);
  z-index: 2;
  mix-blend-mode: difference;
  transition: transform .2s;
  pointer-events: none;
}

h1 {
  margin-top: 15%;
  font-weight: 700;
  background-color: transparent;
}

.image {
  height: 40px;
  vertical-align: bottom;
}

.hand-image {
  rotate: -20deg;
}

@keyframes wave {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(40deg);
  }
}

.hand-image:hover {
  transform: rotateZ(40deg);
  animation: wave .15s infinite;
  animation-direction: alternate;
}

.rocket-image {
  rotate: 90deg;
}

@keyframes float {
	0% {
		transform: translatex(0px) translatey(0px);
	}
	50% {
		transform: translatex(-15px) translatey(-15px);
	}
	100% {
		transform: translatex(0px) translatey(0px);
	}
}

.rocket-image:hover {
	transform: translatex(0px) translatey(0px);
	animation: float .7s ease-in-out;
}

.star-image {
  height: 30px;
  vertical-align: middle;
  transition: transform .7s ease-in-out;
}

.star-image:hover {
  transform: rotate(270deg);
}

a {
  text-decoration: none;
  background-color: transparent;
}

.katia {
  color: #8A65BA;
}

.ironhack {
  color: #FD4020;
}

.ironhack:hover {
  -webkit-text-decoration-style: wavy;
  -moz-text-decoration-style: wavy;
  text-decoration-style: wavy;
  text-decoration-color: #8A65BA;
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 9px;
}

.github {
  color: #3C8AFF;
}

.github:hover {
  border-bottom: solid #FD4020 5px;
}

.linkedin {
  color: #519E00;
}

.linkedin:hover {
  border-bottom: dotted #3C8AFF 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 70px;
  gap: 30px;
  font-weight: 800;
}

.each-button {
  border-radius: 30px;
  background-color: #F1ECE0;
  padding: 10px 20px;
  font-size: 30px;
}

.github-button {
  color :#3C8AFF;
  border: 4px #3C8AFF solid;
}

.github-button:hover {
  color: #323034;
  border: 4px #323034 solid;
  background-color :#3C8AFF;
}

.linkedin-button {
  color :#519E00;
  border: 4px #519E00 solid;
}

.linkedin-button:hover {
  color :#323034;
  border: 4px #323034 solid;
  background-color: #519E00;
}

.email-button {
  color: #EC80AE;
  border: 4px #EC80AE solid;
  width: 450px;
}

.email-button span {
  background-color: transparent;
}

.email-button:hover {
  color :#323034;
  border: 4px #323034 solid;
  background-color: #EC80AE;
  width: 450px;
}

.email-button:hover span {
  display: none;
}

.email-button:hover:before {
  content: "click to copy to clipboard :)";
}

.email-button:active {
  animation: gradient 200ms;
  background: #EC80AE;
  color: #F1ECE0;
}

@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #F1ECE0 0%, #F1ECE0 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, #F1ECE0 25%, #F1ECE0 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, #F1ECE0 50%, #F1ECE0 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, #F1ECE0 75%, #F1ECE0 100%);
  }
  100% {
    color: #F1ECE0;
    background: radial-gradient(circle at center, #EC80AE 99%, #F1ECE0 100%, #F1ECE0 100%);
  }
}





